<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css.css" />
    <title>DeleteUser</title>
  </head>
  <body>
    <form action="/delUser" method="post">
      <h1>DELETE USER</h1>
      <br />

      <span class="input"></span>
      <input
        type="text"
        name="name"
        placeholder="Full name"
        title="Format: Xx[space]Xx (e.g. Alex Cican)"
        autofocus
        autocomplete="off"
        required
      />
      <span class="input"></span>
      <input type="email" name="email" placeholder="Email address" required />

      <input
        type="text"
        name="description"
        placeholder="Enter description"
        required
      />

      <button type="submit" value="Submit" class="icon-arrow-right">
        <span>DELETE</span>
      </button>
    </form>
  </body>
</html>
