<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Succesfull</title>
  </head>
  <body>
    <% if (data!=null) { %>
    <h1>User Deleted Succesfull</h1>
    <% } else { %>
    <h1>No User Found</h1>
    <% } %>
    <a href="/del"><button>GO BACK</button></a>
  </body>
</html>
