<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
  </head>
  <body>
    <% if(users!=null) { %>
    <h1>Users</h1>
    <h2><%=users.name%></h2>
    <h2><%=users.email%></h2>
    <h3><%=users.description%></h3>
    <% } else { %>
    <h3>No User Found</h3>
    <% } %>
  </body>
</html>
